.sidebar{
    background-color:white;
    color:aliceblue;
    position: fixed;
    bottom:0;
    left:0;
    top:65px;
    width:65px;
    z-index:150;
}
.sidebar-icons{
    
    height:80px;
    
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 4px;
    padding-left: 3px;
    cursor: pointer;
}
.sidebar-icons:hover{
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
}

.side-icons{
    height:25px;
    width:25px;}
    
.side-text{
    font-size: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    font-weight: 400;
    
    font-family: Roboto,arial,sans-serif;
}